.product-gallery:before, .product-gallery:after {
  display: table;
  content: "";
  line-height: 0; }
.product-gallery:after {
  clear: both; }
.product-gallery .product-image {
  cursor: pointer;
  float: left;
  width: 84%;
  padding-left: 15px; }
.product-gallery .bx-wrapper {
  margin: 0 !important; }
.product-gallery .image-thumb {
  float: left;
  width: 16%; }

.product-gallery .image-thumb .bx-wrapper .bx-prev,
.product-gallery .image-thumb .bx-wrapper .bx-next {
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  height: 34px;
  line-height: 34px;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  margin: 0;
  color: #fff; }
  .product-gallery .image-thumb .bx-wrapper .bx-prev:hover,
  .product-gallery .image-thumb .bx-wrapper .bx-next:hover {
    background: #1e1e1e; }

.product-gallery .image-thumb .bx-wrapper .bx-prev {
  top: 0;
  bottom: auto; }

.product-gallery .image-thumb img {
  border: 1px solid #e9e9e9; }
  .product-gallery .image-thumb img:hover {
    border-color: #1e1e1e; }

.image-additional {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.product-reviews .review-item {
  margin-bottom: 3em; }

.review-score .fa-stack {
  width: 2em;
  height: 1.5em;
  margin-bottom: 10px; }

.product-title {
  margin: 0;
  color: #818181; }

.reward-block span {
  display: block; }

#product .input-group[class*="col-"] {
  padding-left: 15px;
  padding-right: 15px; }
#product h3 {
  color: #1e1e1e; }

.general_info .product-section,
.general_info .price-section {
  margin: 0 0 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e9e9e9; }

#full_gallery {
  display: none; }
  #full_gallery .bx-viewport {
    padding-right: 2px; }
  #full_gallery #gallery li {
    border: 1px solid #e9e9e9; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape), (max-width: 767px) {
  #full_gallery {
    display: block; }

  .product-gallery {
    visibility: hidden;
    height: 0; }
    .product-gallery .image-thumb, .product-gallery .product-image {
      height: 0; }

  .bx-wrapper .bx-controls-direction a {
    background: #fff;
    border: 1px solid #e9e9e9;
    color: #818181;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    width: 40px;
    font-size: 18px;
    font-family: "FontAwesome"; }
    .bx-wrapper .bx-controls-direction a i {
      display: none; }
    .bx-wrapper .bx-controls-direction a:hover {
      background: #1e1e1e;
      color: #FFF; }

  .bx-wrapper .bx-controls-direction .bx-prev:before {
    content: '\f104'; }

  .bx-wrapper .bx-controls-direction .bx-next:before {
    content: '\f105'; } }